@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --background: #1C201D;
    --primary: #44FF8B;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

header {
    background: linear-gradient(to bottom, var(--primary), var(--background));
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    height: 90%;
    transition: 2s;
}

.logo:hover{
    transform: rotate(360deg);
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 150px;
}

.navbar i{
    font-size: 36px;
    display: none;
}

.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}

.navbar-list a:hover {
    color: white;
    text-decoration:underline;
}


#menu-toggle {
    display: none;
}

main {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

#hero {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 40px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    background: linear-gradient(to top, #1d976c, #93f9b9);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero-info p {
    font-size: 14px;
    width: 70%;
    color: azure;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    gap: 20px;
}

.botones a{
    color: black;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    width: 120px;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    transition:  .5s ease
}

.botones a:hover{
    background: transparent;
    color: white;
    border: 2px solid var(--primary);
    box-shadow: 0 0 10px 0 var(--primary) inset, 0 0 10px 4px var(--primary);
    border-radius: 20px;
}

.hero-card {
    width: 350px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-card img {
    border-radius: 20px 60px 40px 80px;
}

#mas-info {
    width: 80%;
    max-width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 0 40px;
}

/* Info cards */

#info {
    padding: 40px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

#info h2{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

#info h3 {
    font-size: 16px;
    font-weight: 400;
    max-width: 800px;
    text-align: center;
}

.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.info-card {
    width: 310px;
    height: 290px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(80, 80, 80);
    border-radius: 10px;
    gap: 20px;
    transition: 0.25s;
}

.info-card:hover {
    transform: scale(1.06);
}

.info-card img {
    width: 100px;
}

.info-card h3 {
    font-weight: 600;
    font-size: 18px;
}

.info-card p {
    font-size: 14px;
    font-weight: 300;
    color: azure;
}

#contact {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 50px;
    flex-wrap: wrap;
    padding: 40px 0 30px;
}

#contact iframe {
    border-radius: 15px;
}

.info-contact h4 {
    font-size: 35px;
}

.iconos-contact {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.iconos-contact img{
    width: 30px;
}

.iconos-redes {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    gap: 20px;
    transition: 0.25s;
}

.iconos-redes img {
    width: 34px;
    transition: 0.25s;
}

.iconos-redes img:hover{
    transform: scale(1.4);
}

footer {
    width: 100%;
    background: linear-gradient(to bottom, var(--background), var(--primary));
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 40px;
    padding: 20px 0;
}

footer a,
footer p{
    color: black;
    font-weight: 400;
    font-size: 14px;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 20px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #1d976c, #93f9b9);
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #303531;
}

.separador {
    background: #303531;
    height: 4px;
    width: 90%;
    border-radius: 2px;
}